<?xml version="1.0" encoding="utf-8"?>
<integrationJob xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www4.wiwiss.fu-berlin.de/ldif/ ../xsd/IntegrationJob.xsd"
           xmlns="http://www4.wiwiss.fu-berlin.de/ldif/">
  <properties>test.properties</properties>
  <sources>sources</sources>
  <linkSpecifications>linkSpecs</linkSpecifications>
  <mappings>mappings</mappings>
  <output>output.nq</output>
</integrationJob>
