# ignore all target folders
*.orig
integrated*
./hadoop*
*/target
*/**/target
*/*/*/target
*.iml
ldif-0.*
.idea
#output*
ldif-modules/ldif-r2r/ldif-r2r-common/*.sh
ldif-modules/ldif-r2r/ldif-r2r-local/src/test/resources/ldif.modules.r2r/.testMapping.ttl.swp
new
log
ldif-local/cpParserSource.sh
ldif-modules/ldif-r2r/cpR2Rlib.sh
ldif-singlemachine/output.nq
tools/build_KeggGenes_dataset/*
logback.xml
pom.xml.bak
*.log
stdout
stderr
*.zip
**/.project
**/.
