<?xml version="1.0" encoding="utf-8"?>
<integrationJob xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www4.wiwiss.fu-berlin.de/ldif/">
  <properties>test1.properties</properties>
  <source>sources</source>
  <linkSpecifications>linkSpecs</linkSpecifications>
  <mappings>mappings</mappings>
  <output>
      <file>output_minimal</file>
  </output>
  <runSchedule>onStartup</runSchedule>
</integrationJob>
