<?xml version="1.0" encoding="utf-8"?>
<integrationJob xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www4.wiwiss.fu-berlin.de/ldif/">
  <properties>test1.properties</properties>
  <sources><source>sources</source></sources>
  <linkSpecifications>linkSpecs</linkSpecifications>
  <mappings>mappings</mappings>
  <sieve></sieve>
  <outputs><output><file><path>output_minimal</path></file></output></outputs>
  <!--<outputPhase>r2r</outputPhase>-->
  <runSchedule>onStartup</runSchedule>
</integrationJob>
