body {
  background: white;
  color: #2D2D2D;
  font-family: sans-serif;
  line-height: 1.4em;
  margin: 3em 25em 3em 25em;
  }

:link, :visited {
  color: black;
  }

img {
  border: none;
  }

/* img - centered */
#content img {
  margin-left: auto;
  margin-right: auto;
  display:block;
  margin-bottom: 10px;
  }

h1, h2, h3, h4 {
  background: white;
  color: #800;
  }

h1 {
  font: 170% sans-serif;
  margin: 0;
  }

h2 {
  clear: both;
  font: 140% sans-serif;
  margin: 2.5em 0 0 0;
  padding-top: 1.5em;
  border-top: 1px solid #ccc;
 }

h3 {
  font: 120% sans-serif;
  margin: 1.5em 0 0 0;
  }

h4 {
  font: 100% sans-serif;
  margin: 0.9em 0 -0.6em 0;
  }

h5 {
  font: italic 100% sans-serif;
  margin: 0.7em 0 -0.8em 0;
  }

pre {
  background: #fff6bb;
  font-family: monospace;
  line-height: 1.2em;
  padding: 1em 2em;
  }

code, tt {
  font-family: monospace;
  }

/* Lists */

ul.toc {
  list-style-type: none;
  }

/* Header */

#header {
  border-bottom: 1px solid #ccc;
  }

#logo {
  float: right;
  margin-bottom: 10px;
  min-width: 250px;
}

#authors {
  clear: right;
  float: right;
  font-size: 80%;
  text-align: right;
  min-width: 250px;
  }

#top-container {
  height: 150px;
  width: 750px;
  padding: 20px;
}

#purpose {
  font-size: 110%;
  letter-spacing: 0.05em;
  word-spacing: 0.15em;
  width: 700px;
  margin: 0 auto 40px auto;
}

/* Content */

#content {
  margin: 2em auto 0 0;
  text-align: justify;
}

#body-container div {
   padding-left: 2em;
}

/* Shortcut boxes */

#boxcontainer {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  }

.box {
  border: 1px solid #D3D3D3;
  height: 75px;
  text-align: center;
  float: left;
  margin-right: 10px;
  padding-top:5px;
}

.box:hover {
  background: none repeat scroll 0 0 #FCFDFF;
  box-shadow: 0 0 10px 2px #DFEFFF;
  }

.box a:link, .box a:visited, .box a:hover, .box a:active {
  color: #1C5489;
  display: block;
  font-size: 110%;
  margin-left: 5px;
  min-height: 55px;
  padding: 9px 5px 5px 5px;
  text-decoration: none;
  }

.box a:hover, .box a:active {
  color: #800 !important;
  cursor: pointer;
  text-decoration: none !important;
  }

.box a span {
  display: block;
  margin-left: 40px;
  text-align: left;
  }

.box a span small {
  font-size: 70%;
  }

#downloadbox { width: 380px; padding-left: 20px; color: #888; }
#downloadbox a { display:inline; }
#downloadbox span { margin-top: 20px; display:block; }
#downloadbox small { display:block; font-size: 70%; }
#downloadbox { background: url("../images/arrow_down_32.png") no-repeat scroll 10px 25px transparent; }

#quickstartbox, #supportbox { width: 175px; }
#quickstartbox a span, #supportbox a span { padding: 15px 5px; }
#quickstartbox a { background: url("../images/clock_32.png") no-repeat scroll 5px 20px transparent; }

#supportbox a { background: url("../images/comment_32.png") no-repeat scroll 5px 20px transparent; }

/* Table */

table {
  border-collapse: collapse;
  margin-bottom: .75em;
  border-top: 1px solid #D4DCE8;
  border-bottom: 1px solid #D4DCE8;
  }

table th {
  text-align: left;
  background: #EAF3FA;
  padding: .5em .9em;
  height: 21px;
  font-weight: bold;
  font-size: 1em;
  color: #333;
}

table th a {
  text-decoration: none !important;
}

table td {
  vertical-align: top;
  text-align: left;
  padding: .5em 1em;
  border-bottom: 1px solid #eee;
  }

table tr.even {
  background-color: #fff;
  }

table tr.odd {
  background-color: #f6f6f6;
  }

table.results {
 margin-left: 10%;
}

dt {
  font-weight: bold
  }

/* Top navigation bar */

#wbsg_navbar {
  background-color: #dedede;
  color: #7d7d7d;
  font-size: 80%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
  background-color: #DEDEDE;
  font-family: Arial,Helvetica,sans-serif;
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffffff, #dedede);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffffff, #dedede);
  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedede');
  /* IE 10 */
  background: -ms-linear-gradient(top, #ffffff, #dedede);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffffff, #dedede);
  text-shadow: 0px 1px 0px #ffffff;
  }

#wbsg_navbar a {
  color: #4e4e4e;
  text-decoration: none;
  }

#wbsg_navbar a:hover {
  color: #1d1d1d;
  }

#wbsg_navbar_intro {
  line-height: 25px;
  width: 100%;
  border-bottom: 1px solid #BCBCBC;
  }

#wbsg_navbar_projects {
  float: right;
  }

#wbsg_navbar_projects a {
  display: block;
  float: left;
  line-height: 25px;
  padding: 0 0.5em;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #BCBCBC;
  }

#wbsg_navbar_projects a:hover {
  background: #eaeaea;
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffffff, #eaeaea);
  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea');
  /* IE 10 */
  background: -ms-linear-gradient(top, #ffffff, #eaeaea);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffffff, #eaeaea);
  }

.wbsg_navbar_active_project {
  font-weight: bold;
  color: #373737 !important;
  border-bottom: 1px solid #ffffff !important;
  background: #ffffff !important;
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f2f2f2, #ffffff) !important;
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f2f2f2, #ffffff) !important;
  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff') !important;
  /* IE 10 */
  background: -ms-linear-gradient(top, #f2f2f2, #ffffff) !important;
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f2f2f2, #ffffff) !important;
  }

/* iframe, for embedded slides from slideshare */
iframe {
  border:1px solid #CCC;
  border-width:1px 1px 0;
  margin: 10px 0 20px 0;
}

/* Media */

@media Print {
  * {font-size: 92%;}
  body {padding: 0; line-height: 1.2em;}
  #content {margin: 0; width: 100%;}
}

@media Aural {
  h1, h2, h3 {stress: 20; richness: 90;}
  .hide {speak: none;}
  pre {speak-punctuation: code;}
}

