body { background: white; color: black; font-family: sans-serif; line-height: 1.4em; padding: 2.5em 3em; margin: 0; }
:link, :visited { color: #00c; }
a:link img { border: none; }
a:visited img { border: none; }
h1, h2, h3, h4 { background: white; color: #800; }
h1 { font: 170% sans-serif; margin: 0; }
h2 { clear: both; font: 140% sans-serif; margin: 1.5em 0 -0.5em 0; }
h3 { font: 120% sans-serif; margin: 1.5em 0 -0.5em 0; }
h4 { font: italic 100% sans-serif; margin: 0.9em 0 -0.6em 0; }
h5 { font: small-caps 100% sans-serif; }
pre { background: #fff6bb; font-family: monospace; line-height: 1.2em; padding: 1em 2em; }
dt { font-weight: bold; margin-top: 0; margin-bottom: 0; }
dd { margin-top: 0; margin-bottom: 0; }
code, tt { font-family: monospace; }
ul.toc { list-style-type: none; }
ol.toc li a { text-decoration: none; }
.note { color: red; }
#header { border-bottom: 1px solid #ccc; }
#logo { float: right; margin-bottom: 10px; }
#authors { clear: right; float: right; font-size: 80%; text-align: right; }
#logo, #authors { min-width: 250px; }
#content { margin: 2em auto 0 0; text-align: justify }
#footer { border-top: 1px solid #ccc; color: #aaa; margin: 2em 0 0; }
#top-container { height: 150px; width: 750px; padding: 20px; }
#purpose { font-size: 110%; letter-spacing: 0.05em; word-spacing: 0.15em; width: 700px; margin: 0 auto 40px auto; }
#boxcontainer { width: 670px; margin-left: auto; margin-right: auto; }
.box { border: 1px solid #D3D3D3; height: 75px; text-align: center; float: left; margin-right: 20px; }
.box:hover { background: none repeat scroll 0 0 #FCFDFF; box-shadow: 0 0 9px 1px #DFEFFF; }
.box a:link, .box a:visited, .box a:hover, .box a:active { color: #1C5489; display: block; font-size: 110%; margin-left: 5px; min-height: 55px; padding: 9px 5px 5px 5px; text-decoration: none; }		
.box a:hover, .box a:active { color: #16426B !important; cursor: pointer; text-decoration: none !important; }
.box a span { display: block; margin-left: 40px; text-align: left; }
.box a span small { color: #888; font-size: 70%; }

#downloadbox { width: 240px; }
#quickstartbox, #supportbox { width: 175px; }
#downloadbox a span { padding: 10px 5px; }
#quickstartbox a span, #supportbox a span { padding: 15px 5px; }

#downloadbox a { background: url("img/arrow_down_32.png") no-repeat scroll 5px 20px transparent; }
#quickstartbox a { background: url("img/clock_32.png") no-repeat scroll 5px 20px transparent; }
#supportbox a { background: url("img/comment_32.png") no-repeat scroll 5px 20px transparent; }

@media Print {
* { font-size: 92%; }
body { padding: 0; line-height: 1.2em; }
#content { margin: 0; width: 100%; }
}
@media Aural {
h1 { stress: 20; richness: 90; }
h2 { stress: 20; richness: 90; }
h3 { stress: 20; richness: 90; }
.hide { speak: none; }
dt { pause-before: 20%; }
pre { speak-punctuation: code; }
}
.Stil1 {color: #FF0000}
table {border-collapse: collapse; margin-bottom: .75em; border-top: 1px solid #D4DCE8; border-bottom: 1px solid #D4DCE8}
table th {text-align: left; background: #EAF3FA; padding: .5em .9em; height: 21px; font-weight: bold; font-size: 1em; color: #333}
table th a {text-decoration: none !important}
table td {vertical-align: top; text-align: left; padding: .5em 1em; border-bottom: 1px solid #eee}
table tr.even {background-color: #fff}
table tr.odd {background-color: #f6f6f6}

