<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appends log events on the console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%-4level] %msg%n</Pattern>
        </layout>
    </appender>

    <!-- Appends log events into a file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>ldif.log</file>
        <append>false</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SS} [%thread] %-5level %logger{40} - %msg%n</Pattern>
        </layout>
    </appender>


    <!-- Set ldif level to INFO -->
    <logger name="ldif" level="INFO"/>

    <!-- Set silk level to INFO, but append only to FILE -->
    <logger name="de.fuberlin.wiwiss.silk.output" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="de.fuberlin.wiwiss.silk.instance" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Set root level -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>

